@model SalesWebMvc.Models.Seller;
@*modelo pra vincular os atributos de Seller e Departments e gerar um view model*@


@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Seller</h4>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            @*action no Post*@

            <div asp-validation-summary="All" class="text-danger"></div>
            @*validação em formato de sumário que vem dos validadores dos data anottations*@

            <div class="form-group">
                @* asp-for vincula o nome do campo ao atributo dos objetos q vieram no view model*@
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span> @*validacao por campo*@
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label"></label>
                <input asp-for="BaseSalary" class="form-control" />
                <span asp-validation-for="BaseSalary" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" asp-items="@ViewBag.Departments" class="form-control"></select>
                    @*asp-items: constroi os item de uma caixa de seleção, argumentos passados: (fonte de dados da coleção, campo associado ao Seller.DepartmentId, qual atributo vai aparecer na caixa de seleção)*@
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>


        </form>


    </div>

</div>


@*Validação client-side*@ 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
}